.button {
  border-radius: 2px;
  background:linear-gradient(260deg,#337eb9,#384499);
  box-shadow:0 2px 4px 0 hsla(13,8%,42%,.27);
  color: #fff;
  padding: 10px 24px;
  font-size: 1vw;
  font-weight: 600;
  outline: none;
  letter-spacing: 2px;
}

.input {
  margin-right: 25px;
  height: 25px;
}
